
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@ViewBag.data1</p>

<br/>
<p>@ViewData["data2"]</p>

<h2> Flowers from Temp Data Object</h2>

@foreach (var f in TempData["flowers"] as List<string>)
{
    <p>@f</p>
}