
@{
    ViewBag.Title = "Rules1";
}

<h2>Rules from View Bag</h2>

    @foreach (string s in ViewBag.GetRules)
    {
        <p>@s</p>
    }


<h2>Rules from View Data</h2>

@foreach(var s in ViewData["FollowRules"] as List<string>)
{
    <p>@s</p>
}
 